*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: azure;
    padding: 0;
    margin: 5px;
    width: 99%;
}

.topnav{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    background:green;
    margin-top: 20px;
    font-weight: bold;
}

nav li{
    text-decoration: none;
    display:inline-flex ;
    flex-direction: row;
    justify-content: space-between;
    /* width: 10%;
    color: black;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 10%; */
}
/* .img1{
    width: 100px;
    height: 100px;
} */
h1{
    text-align: center;
    background-color: green;
    color: whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    border-radius: 20px;
}

a {
    margin: 10px;
    color: whitesmoke;
    text-transform: uppercase;
    justify-content: space-between;
    font-weight: bold;
    text-decoration: none;
}

.dishes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
}

.dish{
    padding: 20px;
    margin: 20px;
    text-align: center;
}

img{
    width: 30%;
}

.text{
    text-align: center;
    padding: auto;
    color: black;
    font-weight: 300;
    line-height: 1.4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    text-align: center;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.button{
    width: 20%;
}
 button{
    background-color: blue;
    margin-right: 5%;
    height: 50px;
    cursor: pointer;
    border: none;
    width: 30%;
    border-radius: 10px;
    font-size: 20px ;
    color: #fff;
} 

button:hover{
 background-color: blueviolet;
}


.main{
    display: flex;
    margin-top: 50px;
    color: black;
    width: 80%;
    padding: 10px;
    justify-content: space-between;
    margin-left: 2%;
    text-align: left;
    font-weight: bold;

}
